.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: url('https://images.unsplash.com/photo-1594470117722-de4b9a02ebed?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNyaWNrZXQlMjBzdGFkaXVtfGVufDB8fDB8fHww');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px 10px;
  padding: 0px;
  /* max-width: 1400px; */
  margin: 0 auto;
  width: 100%;
}

.card {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 100%;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
}

.card p {
  margin: 8px 0;
  font-size: 0.9rem;
}

.card strong {
  color: #ffd700;
}

.score-details {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.score-details h4 {
  font-size: 1.2rem;
  color: #ffd700;
  margin-bottom: 10px;
}

.score-details p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #fff;
}


@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.details-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin: auto;
}

.details-container h2 {
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 15px;
}

.details-container strong {
  color: #ff6347;
  font-weight: bold;
}

.details-container h3 {
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 15px;
}

.details-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #ff4500;
}