body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1594470117722-de4b9a02ebed?q=80&w=3829&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  width: 400px;
  padding: 20px;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  margin: auto;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #ff6347; 
}

.card p {
  font-size: 1.2rem;
  margin: 5px 0;
}

.card strong {
  color: #ffd700;
}

.details-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin: auto;
}

.details-container h2 {
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 15px;
}

.details-container strong {
  color: #ff6347;
  font-weight: bold;
}

.details-container h3 {
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 15px;
}

.details-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #ff4500;
}